@model Fechas

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<TransPortClientes.Models.Solicitudes_Transporte> st = ViewBag.st;
}

<h2>Solicitudes para @ViewBag.cliente</h2>

<p class="btn btn-success">
    @Html.ActionLink("Create Solicitud", "Create", null, new { @Style="Color:white" })
</p>

@using (Html.BeginForm("Index", "Solicitudes", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
            <h3>
                @if (Model.fecha_inicio.HasValue && Model.fecha_fin.HasValue)
                {<text>De @Model.fecha_inicio.Value.ToShortDateString() a @Model.fecha_fin.Value.ToShortDateString()</text>}
            </h3>
            <div class="well well-sm date-filter light-bg">

                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.Label("Fecha de", htmlAttributes: new { @class = "control-label col-md-2 col-lg-2 col-xs-12 col-sm-12" })
                        <div class="col-md-3 col-lg-3 col-xs-12 col-sm-12">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                                @Html.EditorFor(m => m.fecha_inicio, new { htmlAttributes = new { @class = "form-control", @type="date" } })
                            </div>
                            @Html.ValidationMessage("fecha_inicio", "", new { @class = "text-danger" })
                        </div>
                        @Html.Label("Fecha a", htmlAttributes: new { @class = "control-label col-md-2 col-lg-2 col-xs-12 col-sm-12" })
                        <div class="col-md-3 col-lg-3 col-xs-12 col-sm-12">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                                @Html.EditorFor(model => model.fecha_fin, new { htmlAttributes = new { @class = "form-control", @type = "date" } })
                            </div>
                            @Html.ValidationMessage("fecha_fin", "", new { @class = "text-danger" })
                        </div>
                        <div class="col-lg-2 col-md-2 col-xs-12 col-sm-12">
                            <button class="btn btn-sm btn-primary" type="submit">
                                <span class="glyphicon glyphicon-search"></span>&nbsp;Filtrar
                            </button>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
}

<table class="table table-striped table-bordered">
    <tr>
        <th>
            Codigo Solicitud
        </th>
        <th>
            Estado
        </th>
        <th>
            Piloto
        </th>
        <th>
            Punto Origen
        </th>
        <th>
            Punto Destino
        </th>

        <th>Opciones</th>
    </tr>

    @foreach (var item in st)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id_solicitudes_transporte)
            </td>
            <td>

                @if (item.id_estado_solicitud == 1)
                {
                    <span class="badge badge-secondary" style="background-color:orange">@item.Solicitud_Estado.estado </span>
                }
                else if (item.id_estado_solicitud == 2)
                {
                    <span class="badge badge-primary" style="background-color:dodgerblue">@item.Solicitud_Estado.estado</span>
                }
                else
                {
                <span class="badge badge-success" style="background-color:lawngreen">@item.Solicitud_Estado.estado</span>
                }
            </td>
            <td>
                @if (item.id_piloto != null)
                {
                    <p>@item.Pilotos.nombre_completo</p>
                }
                else
                {
                    <p>Sin Asignar</p>
                }

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Puntos.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Puntos1.nombre)
            </td>

            <td>
                @Html.ActionLink("Detalle", "Edit", new { id = item.id_solicitudes_transporte }, new { @class = "btn btn-info" }) |
                @if (item.id_piloto == null)
                {
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.id_solicitudes_transporte }, new { @class = "btn btn-danger" })
                }


            </td>
        </tr>
    }

</table>
